h1, h2, h3, h4, h5, h6, p {
	text-align: center;
	font-family: "Arial", sans-serif;
	color: white;
}

header {
	background-color: black;
	text-align: center;
	color:	white;
	padding: 10px;
	border: 5px solid white;
}

ul, ol, li {
	font-family: "Arial", sans-serif;
	text-align: center;
	color: white;
	list-style-type: none;
}

body {
	background-image: url('images/cubes.png');
	background-color: grey;
}

div {
	border: 5px solid black;
}