body {
	background-image: url(images/cubes.png);
	background-color: dimgrey;
}

h1, h2, h3, h4, h5, h6 {
	color: white;
}

header {
	background-color: black;
	padding: 20px;
	height: 75px;
	text-align: center;
	float: top;
}

nav {
	float:top;
	background-color: grey;
	height: 45px;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	background-color: grey;
	overflow: hidden;
}

li {
	display: inline;
	float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: red;
}