/**
 * If you want to use this file, then go ahead. Be warned, this is a horribly made file.
 * I'd strongly reccomend that you scrap this file and start form scratch.
 */

@import url("https://fonts.googleapis.com/css?family=Anonymous Pro");

body {
    background-image: url(./images/cubes.png);
    background-color: dimgrey;
}

header {
    background-color: black;
    padding: 20px;
    height: 75px;
    text-align: center;
    float: top;
}

header h1, header h2, header h3, header h4, header h5, header h6 {
    color: white;
    float: center;
    font-family: "Anonymous Pro";
}

nav, nav ul {
    float: top;
    background-color: grey;
    height: 45px;
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: grey;
    overflow: hidden;
    position: sticky;
}

nav li a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    float: left;
    font-family: "Anonymous Pro";
}

li a:hover {
    background-color: white;
    color: black;
}

article {
    text-align: center;
    float: center;
    color: white;
    font-family: "Anonymous Pro";
}

article img, article p a img {
    float: center;
}

article border {
    border-color: #990000;
}

.active {
    background-color: #13004d;
    color: white;
}

.about {
    float: right;
}

/* This is the fourth revision of this CSS file. May god have mercy. */