/**
 * If you want to use this file, then go ahead. Be warned, this is a horribly made file.
 * I'd strongly reccomend that you scrap this file and start form scratch.
 */

@import url("https://fonts.googleapis.com/css?family=Anonymous Pro");

body {
    background-image: url(./images/cubes.png);
    background-color: dimgrey;
}

header {
    background-color: black;
    padding: 20px;
    height: 75px;
    text-align: center;
    float: top;
}

header h1 {
    color: white;
    float: center;
    font-family: "Anonymous Pro";
    font-size: 2em;
}

nav, nav ul {
    float: top;
    background-color: grey;
    height: 45px;
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: grey;
    overflow: hidden;
    position: relative;
}

nav li a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    float: left;
    font-family: "Anonymous Pro";
    font-size: 1em;
}

li a:hover {
    background-color: white;
    color: black;
}

article img, article p a img {
    float: center;
}

div.absolute_right {
    position: absolute;
}

div.absolute_left {
    position: absolute;
}

div.relative {
    position: relative;
}

article {
    border-style: solid;
    border-color: white;
    height: 700px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 8px;
    margin-right: 8px;
}

.active {
    background-color: #13004d;
    color: white;
}

.about {
    float: right;
}

/** 
 * This is the fourth revision of this CSS file. May god have mercy.
 * Forgive my poor formatting of CSS. This is merely an (admittedly shitty) training exersize.
 * I'm sure that CSS professionals are rolling in their graves at the existence of this file.
 */