/***
 * Fifth revision of this damn file.
 * I've been using images and textures from 'transparenttextures.com'.
 * The font I've been using comes from google fonts. The font name is "Anonymous Pro".
 */

@import url("https://fonts.googleapis.com/css?family=Anonymous Pro");

body
{
    background-image: url("./images/rocky-wall.png");
    background-color: #6e6e6e;
	font-family: "Anonymous Pro";
}

header
{
    float: top;
    background-color: black;
    text-align: center;
    color: white;
    padding: 10px;
    border: auto;
	margin: auto;
	height: auto;
	width: auto;
}

nav
{
    background-color: #3b3b3b;
    float: top;
    margin: 0px;
    padding: 10px;
    height: auto;
	width: auto;
	margin: auto;
}

nav ul
{
    list-style-type: none;
}

nav ul li
{
    display: inline;
}

nav ul li a
{
    color: white;
}

.active
{
	background-color: white;
	color: black;
}

article
{
    border-color: white;
    border-width: 3px;
    color: white;
}

article p
{
    color: white;
    text-align: left;
}

article h1, article h2, article h3, article h4, article h5, article h6
{
    color: white;
    text-align: center;
}